.display-container{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 30% 1fr 1fr 30%;
    grid-template-rows: 15% repeat(2, 1fr) 20%;
    grid-template-areas: 

        "home time time away"
        "home  home-score away-score away"
        "home  home-score away-score away"
        "home-stats home-stats away-stats away-stats";
}

.home-team {
    grid-area: home;
}

.away-team {
    grid-area: away;
}

.home-score{
    grid-area: home-score;
}

.away-score{
    grid-area: away-score;
}

.home-stats{
    grid-area: home-stats;
}

.away-stats{
    grid-area: away-stats;
}

.time{
    grid-area: time;
}