.team-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

img {
    max-height: 35vh;
    object-fit: contain;
}

h1 {
    font-size: 4rem;
    padding: 0.5rem;
}

h2 {
    font-size: 5rem;
     padding: 0.25rem;
    color: darkgrey;
}