<div class = "stats-container">
    <h2 class = "assists">AST: <span class = "light-text">{{teamStats.assists}}</span> </h2>
    <h2 class = "assists2">FT%: <span class = "light-text">{{teamStats.ftPercentage}}</span> </h2>
    <h2 class = "rebounds">REB: <span class = "light-text">{{teamStats.reboundsPersonal}} </span> </h2>
    <h2 class = "rebounds2">STL: <span class = "light-text">{{teamStats.steals}}</span> </h2>
    <h2 class = "turnovers">TOs: <span class = "light-text">{{teamStats.turnoversTotal}}</span></h2>
    <h2 class = "turnovers2">BLK: <span class = "light-text">{{teamStats.blocks}}</span></h2>
     <!-- ({{teamStats.reboundsOffensive}}/{{teamStats.reboundsDefensive}}) -->
</div>
