@font-face {
    font-family: 'Scoreboard';
    src: url('assets/fonts/scoreboard.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    color: white;
    background-color: black;
    font-family: 'Scoreboard', monospace;

}

* {
    margin: 0rem;
    padding: 0rem;
}