.score-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 10rem;
}

h2 {
    font-size: 3rem;
    color: rgb(108, 108, 108);
}
h3{
    font-size: 1.5rem;
}

.bonus-class{
    color: white;
}